<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<% if (htmlWebpackPlugin.options.env === 'dev') { %>
<% } %>

<div id="eco-setup-backdrop">
</div>
<div id="eco-setup-container">
    <div id="eco-setup">
        <div class="eco-setup-tabs">
            <div class="eco-setup-tab eco-setup-intro-tab eco-setup-tab-active" data-target=".eco-setup-intro">Intro
            </div>
            <div class="eco-setup-tab eco-setup-world-tab" data-target=".eco-setup-world">World Settings</div>
            <div id="eco-setup-minimize">▼</div>
        </div>
        <div class="eco-setup-tab-content eco-setup-intro">
            <p>Welcome to <span>Eco-Sim</span>!</p>
            <p>This is an <span>ecological simulator</span> about <span>bunnies</span> living on a tropical island. The
                bunnies have only a few desires. They want to <span>eat</span> (carrots), <span>drink</span> (water),
                <span>sleep</span> and <span>copulate</span> from time to time.
            </p>
            <p>Each bunny has <span>genetic characteristics</span> (such as speed and sight). Every newborn baby bunny
                inherits these traits from either the mother or the father. Genes additionally have the possibility to
                <span>mutate</span>.
            </p>
            <p>You can follow a bunny by clicking on it. There are also statistics where you can track the success of
                the entire population.</p>
            <p>To fasten up the simulation just increase the speed using the handle on the top right!</p>
        </div>
        <div class="eco-setup-tab-content eco-setup-world" style="display: none;">
            <div class="eco-setup-header">World</div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Tiles</div>
                <div class="eco-setup-row-input" data-target="world.tiles" data-min="20"
                     data-max="400"></div>
                <div class="eco-setup-row-description">The world consists of tiles. This value determines the number
                    for each axis. The default value is 200 which would result in a 200 by 200 grid. Be aware that
                    larger worlds require more processing power. [20-400]
                </div>
            </div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Land/Water</div>
                <div class="eco-setup-row-input" data-target="world.waterLandRatio" data-min="0"
                     data-max="100" data-type="percentage"></div>
                <div class="eco-setup-row-description">The ratio between water and land. The higher the value, the more
                    land mass is generated. [0-100]
                </div>
            </div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Land Disruption</div>
                <div class="eco-setup-row-input" data-target="world.disruption" data-min="0"
                     data-max="100" data-type="percentage"></div>
                <div class="eco-setup-row-description">How much the land mass is disrupted by water. Kind of
                    defines the size and amount of lakes. [0-100]
                </div>
            </div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Tree Density</div>
                <div class="eco-setup-row-input" data-target="world.treeDensity" data-min="0"
                     data-max="100" data-type="percentage"></div>
                <div class="eco-setup-row-description">The amount of trees. [0-100]</div>
            </div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Food Density</div>
                <div class="eco-setup-row-input" data-target="world.foodDensity" data-min="0"
                     data-max="100" data-type="percentage"></div>
                <div class="eco-setup-row-description">The amount of food. [0-100]</div>
            </div>
            <div class="eco-setup-header">Bunnies</div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Genesis</div>
                <div class="eco-setup-row-input" data-target="world.bunnies" data-min="0"
                     data-max="1000"></div>
                <div class="eco-setup-row-description">The number of bunnies created by the FSM.</div>
            </div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Mutation Chance</div>
                <div class="eco-setup-row-input" data-target="genetics.mutationChance" data-min="0"
                     data-max="100" data-type="percentage"></div>
                <div class="eco-setup-row-description">The chance that a gene mutation occurs. [0-100]</div>
            </div>
            <div class="eco-setup-row">
                <div class="eco-setup-row-name">Mutation Amount</div>
                <div class="eco-setup-row-input" data-target="genetics.mutationAmount" data-min="0"
                     data-max="100" data-type="percentage"></div>
                <div class="eco-setup-row-description">Specifies the maximum percentage of change when a mutation
                    occurs.
                    0 = no change. Note that the resulting value is normally distributed (big changes are more
                    unlikely). [0-100]
                </div>
            </div>
        </div>
        <div class="eco-setup-start">
            <button id="eco-setup-start-button">Start</button>
        </div>
    </div>
</div>
<div id="eco-setup-maximize" style="display: none">▲</div>

<div id="eco-audio-button" class="eco-bottom-button"></div>
<div id="eco-info-button" class="eco-bottom-button">i</div>
<div id="eco-info">
    <div class="eco-info-tabs">
        <div class="eco-info-tab eco-info-tab-stats eco-info-tab-active" data-target=".eco-info-stats">Stats</div>
        <div class="eco-info-tab eco-info-tab-object" data-target=".eco-info-animal">Object</div>
    </div>
    <div class="eco-info-tab-content eco-info-stats">
        <span class="eco-tick"></span>
        <div class="eco-info-stats-header">
            <select id="chartDataSet1"></select>
            <select id="chartDataSet2"></select>
            <select id="chartDataUpdateFrequency">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100" selected>100</option>
                <option value="250">250</option>
                <option value="1000">1000</option>
            </select>
        </div>
        <canvas id="chart" width="400" height="160"></canvas>
    </div>
    <div class="eco-info-tab-content eco-info-animal" style="display: none;">
        <div class="eco-name">
        </div>
        <div class="eco-animal-content">
            <div class="eco-animal-state">
                <div class="eco-animal-dead">
                </div>
                <div>
                    <span>Action: </span>
                    <span class="eco-animal-action"></span>
                </div>
                <div class="eco-animal-fatigue eco-progress">
                    <span style="width: 0" class="eco-progress-bar"></span>
                    <span class="eco-progress-text">fatigue</span>
                </div>
                <div class="eco-animal-thirst eco-progress">
                    <span style="width: 0" class="eco-progress-bar"></span>
                    <span class="eco-progress-text">thirst</span>
                </div>
                <div class="eco-animal-hunger eco-progress">
                    <span style="width: 0" class="eco-progress-bar"></span>
                    <span class="eco-progress-text">hunger</span>
                </div>
                <div class="eco-animal-reproductionUrge eco-progress">
                    <span style="width: 0" class="eco-progress-bar"></span>
                    <span class="eco-progress-text">reproduction urge</span>
                </div>
                <div class="eco-animal-pregnancy eco-progress">
                    <span style="width: 0" class="eco-progress-bar"></span>
                    <span class="eco-progress-text">pregnancy</span>
                </div>
            </div>
            <div class="eco-animal-traits">
                <div class="eco-property eco-animal-sex">
                    <div class="eco-property-key">Sex</div>
                    <div class="eco-property-value"></div>
                </div>
                <div class="eco-property eco-animal-age">
                    <div class="eco-property-key">Age</div>
                    <div class="eco-property-value"></div>
                </div>
                <div class="eco-property eco-animal-speed">
                    <div class="eco-property-key">Speed</div>
                    <div class="eco-property-value"></div>
                </div>
                <div class="eco-property eco-animal-sight">
                    <div class="eco-property-key">Range of Sight</div>
                    <div class="eco-property-value"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
